body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i{
  cursor: pointer;
}
.btn-primary-c{
  color: #fff;
  background-color: #358297;
  border-color: #358297;
}
.btn-primary-c:hover{
  color: rgb(233, 224, 224);
  background-color: #286677;
  border-color: #286677;
}